body {
  background-color: #252525;
  color: white;
}

.wrapper {
  position: relative;
  padding: 50px;
  width: 200px;
  height: 200px;
  margin: 50px;
  border-radius: 5px;
  background-color: #111111;
}

.element {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
