#baslik{
    color: green
}

.ikinci-baslik{
    color: blue
}

p{
    color: red;
    text-decoration: line-through;
}

a{
    text-decoration: none;
    color: #4767a5
}

img{
    height: 64px;
    width: auto;
}

.padding-komutu{
    background-color: red;
    /*     
    padding-top:50px;
    padding-bottom: 30px;
    padding-right:20px;
    padding-left: 10px; 
    */
    padding: 50px 20px 30px 10px;
}

.margin-komutu{
    background-color: blue;
    
    width: 72.5%;
    /* 
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 30px; 

    margin: 100px 30px 50px 150px;
    */


    
    /* 200px -> margin-top ve margin-bottom'a karşılık gelir */
    /* 30px -> margin-left ve margin-right'a karşılık gelir */
}