.containerElement {
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputElement {
  padding: 10px;
  border: 3px solid #b6b6b6;
  border-radius: 5px;
}

.textAreaElement {
  padding: 10px;
  border: 3px solid #b6b6b6;
  height: 100px;
  border-radius: 5px;
}

.buttonElement {
  background-color: #747474;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}
